@import url('https://fonts.googleapis.com/css?family=Neucha|Philosopher');		

body{
	font-family: 'Philosopher', sans-serif;						
}

*{
	margin: 0px;												
	padding: 0px;												
}
nav ul{
	display:flex;
	background-color:black;
	color:white;
	list-style-type:none;
}
nav li{
	width:70px;
	padding:15px 20px;
	text-align:center;
	position:relative;
}
.nav_hero_logo{
	position: absolute;
	bottom: 0px;
	left: 20px;
	opacity:0;
	transition:transform 0.7s linear, opacity 0.7s linear;
	transform:rotate(180deg);
}
.main{
	display:flex;
	align-items:center;
	justify-content:center;
	background-image:url(images/marvel_back.jpg);
}
h1{
	color:white;
	font-size:70pt;
	text-shadow: 2px 2px #f54947;
}
.CapitanA_img{
	background-color: #3a151c;
	position:sticky;
	top:0px;
}
.IronM_img{
	padding-left:250px;
	position:sticky;
	top:0px;
}
.hulk_img{
	padding-left: 500px;
	position:sticky;
	top:0px;
}
.Tor_img{
	padding-left:750px;
	position:sticky;
	top:0px;
}
.Natali_img{
	padding-left:1000px;
	position:sticky;
	top:0px;
}
.CapitanA_c p{
	width:900px;
	font-size:20pt;
	padding:50px;
	margin-right:auto;
	margin-left:auto;
}
.CapitanA_c{
	background-image:url('images/marvel_back.jpg');
	color:#ffe9a1;
}
.IronM_p{
	color:#63FFD0;
}
.hulk_p{
	color:#90FF84;
}
.Tor_p{
	color:#5168FF;
}
.Natali_p{
	color:#ffe9a1;
}
.hero{
	background-color:#a5181c;
	text-align:center;
	
}
.up{
	position:fixed;
	bottom:20px;
	right:0px;
}
nav li:hover .nav_hero_logo{
	opacity:1;
	bottom:-65px;
	transform: rotate(0deg);
}